.function-callers {
    width: 460px;
    max-width: 95%;
    margin: 24px 0;

    .function-def {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 24px;
        align-items: center;

        border: 3px solid var(--c-background-1);
        border-radius: 4px;

        padding: 0 24px;

        .function-description {
            width: 100%;
            border-right: 2px solid var(--c-background-1);
            padding: 24px 0;
        }

        margin-bottom: 16px;

        >button {
            width: 120px !important;
            padding: 8px 24px !important;
        }
    }
}