@mixin md {
    @media only screen and (max-width: 1000px) {
        @content;
    }
}

@mixin darkmode($selector) {
    @at-root body[class*="dark"] #{$selector} {
        @content;
    }
}

@mixin lightmode($selector) {
    @at-root body[class*="light"] #{$selector} {
        @content;
    }
}

@mixin paddedroot($padding: 48px, $paddingY: 0px) {
    width: 1000px;
    margin: 0 auto;

    padding: $paddingY $padding;

    max-width: calc(95% - $padding * 2);
}