@mixin darkColors {
    --c-background-transparent: rgba(0, 0, 0, 0.5);
    --c-background: #222;
    --c-background-1: #333;
    --c-background-2: #111;

    --c-text: #fff;
    --c-error: #f44336;
    
    --c-link: #88f;
	--c-link-visited: #baf;
}

@mixin lightColors {
    --c-background-transparent: rgba(255, 255, 255, 0.5);
    --c-background: #fff;
    --c-background-1: #eaeaea;
    --c-background-2: #eee;

    --c-text: #000;
    --c-error: #f44;

    --c-link: #0000EE;
	--c-link-visited: #551A8B;
}

:root {
    &:not(:has(body.light)) { @include darkColors; }
    &:has(body.light) { @include lightColors; }
}