:root {
    --heading-font: 'Roboto', Helvetica, Arial, sans-serif;

    --text-font: 'Roboto Slab', 'Roboto', Arial, sans-serif;
    --code-font: 'Roboto Mono', monospace, sans-serif;
}

body {
    margin: 0;
    padding: 0;

    &:not(.module-wallpaper) { background-color: var(--c-background); }
    color: var(--c-text);

    font-family: var(--text-font);

	&.module-main {
		user-select: none;
		overflow: auto hidden;
	}

	&.web-app {
		margin: 32px 48px;
	}

	&.module-popup {
		background-color: transparent;
	}
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

// Links
a {
	color: var(--c-link);

	&:active { opacity: 0.8; }
	&:visited { color: var(--c-link-visited); }

    user-select: initial;
}

// Code
code, pre {
    font-family: var(--code-font);
}

// Scrollbar
@at-root:has(body.dark) {
	::-webkit-scrollbar {
		width: 8px;
		background-color: transparent;
	}
	
	::-webkit-scrollbar-track {
		background-color: transparent;
	}
	
	::-webkit-scrollbar-thumb {
		background-color: var(--c-text);
		border-radius: 1rem;
	}
}

.image-popup {
	max-width: 1000px;
	height: auto;
}