.module-main {
    main {
        margin: 48px;
        max-width: calc(100% - 96px);    
    }

    .tabs {
        background-color: var(--c-background-1);
    }

    .settings {
        display: grid;
        grid-template-columns: 164px 1fr;

        .side-menu {
            background-color: var(--c-background-2);
        }

        .settings-content-wrapper {
            padding: 0 24px;

            max-height: calc(100vh - $tabs-height);

            overflow-x: initial;
            overflow-y: auto;

            .settings-content {
                padding-bottom: 48px;
            }
        }
    }
}