@import 'Share';
@import 'Settings';

.tab-generic {
    max-height: calc(100vh - $tabs-height);
    overflow-x: initial;
    overflow-y: auto;

    .tab-generic-content {
        margin: 48px;
    }
}