.settings-tab {
    display: grid;
    grid-template-columns: 164px 1fr;

    .side-menu {
        background-color: var(--c-background-2);
    }

    .settings-content {
        padding: 0 24px 0 24px;

        max-height: calc(100vh - $tabs-height);
        
        overflow-x: initial;
        overflow-y: auto;

        .settings-content-container {
            padding-bottom: 48px;
        }
    }
}